/* generic button settings */
.button:hover,
.button:hover * {
    cursor: pointer;
    color: var(--text-secondary);
}

.elem-button:disabled {
    background-color: var(--accent-primary);
}

#run-algorithm {
    background-color: var(--accent-secondary);
}

/* elem-buttons */
.tb-elements {
    background-color: var(--bg4);
    border: 2px solid var(--bg2);
    border-radius: 0.5em;
}

.elem-button {
    font-size: 1rem;
    padding: 1em 2em 1em 2em;
    background-color: var(--bg4);
    border: 0px;
    border-radius: 0.5em;
}

.speed-bar {
    width: 5em;
    color: var(--accent-secondary);
}