* { 
    box-sizing: border-box; 
    color: var(--text-primary); 
}

body{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 

    margin: 0em; 
    padding: 0em; 

    height: 100vh; 
    overflow: hidden; 

    font-family: "Merriweather", serif;
    background-color: var(--bg4);
}

/* containers styling */ 
.primary-container{
    padding: 0.5em; 
    background-color: var(--bg3);
    border: 1px solid var(--bg2); 
}

.secondary-container{
    font-size: 1rem;

    padding: 1em; 

    background-color: var(--bg4);

    border: 2px solid var(--bg2); 
    border-radius: 0.5em; 
}

/* separators */ 
.inv-sep{
    margin: 0 0.5em;    
}

.vertical-sep{
    width: 2px; 
    height: 2em; 
    margin: 0 2em; 
    background-color: var(--bg4);
}

.horizontal-sep{
    width: 100%; 
    height: 2px; 
    margin: 1em 0 1em 0; 
    background-color: var(--bg4);
}


/* toolbar */
.toolbar{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;  
    align-items: center; 
}

.tb-logo, .tb-selectors, .tb-elements{
    display: flex; 
    align-items: center;   
}

/* main containers */ 
.info-container{
    width: 15%; 
    height: 90%; 
    margin: 0.5em; 
    border-radius: 0.5em; 

    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
}

.board-container{
    width: 83%; 
    height: 90%; 
    margin: 0.5em; 
    border-radius: 0.5em; 
}

.board-canvas{
    border-radius: 0.5em; 
}

header{
    width: 100%; 
    height: 8%; 
}

/* info-container */ 
.legend-container{
    width: 100%; 
    height: 15%; 
}

